<div class="row">
  
  <!-- Day 1 -->
  <div class="col-md-6">
    <h3>Day 1 - Tuesday, August 24</h3>
    <h4>Tidy Data with Excel and OpenRefine</h4>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>1:00 pm ET</td> <td><a href='https://smithsonianworkshops.github.io/2020-05-19-smithsonian/intro/#/'>Workshop Introduction</a></td></tr>
      <tr><td>1:15 pm</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td>2:00 pm</td><td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td></tr>
      <tr> <td>4:00 pm</td> <td>End of Day 1</td> </tr>
    </table>
  </div>
  
  <!-- Day 2 -->
  <div class="col-md-6">
    <h3>Day 2 - Wednesday, August 25</h3>
	  <h4><a href='https://datacarpentry.org/sql-ecology-lesson/'>Querying Data with SQL</a></h4>
    <table class="table table-striped">
      <tr><td>1:00 pm ET</td> <td>Previous Day Review and Question Session</td></tr>
      <tr><td>1:10 pm</td> <td><a href='https://datacarpentry.org/sql-ecology-lesson/00-sql-introduction/index.html'>Introduction to SQL</a></td></tr>
      <tr><td>2:00 pm</td> <td><a href='https://datacarpentry.org/sql-ecology-lesson/01-sql-basic-queries/index.html'>Basic Queries</a></td></tr>
      <tr><td>2:30 pm</td> <td><a href='https://datacarpentry.org/sql-ecology-lesson/02-sql-aggregation/index.html'>SQL Aggregation and aliases</a></td></tr>
      <tr><td>3:30 pm</td> <td><a href='https://datacarpentry.org/sql-ecology-lesson/03-sql-joins/index.html'>Joins</a></td></tr>
      <tr> <td>4:00 pm</td> <td>End of Day 2</td> </tr>

    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3 - Tuesday, August 31</h3>
    <h4>Introduction to Python</h4>
    <table class="table table-striped">
      <tr><td>1:00 pm ET</td> <td>Previous Day Review and Question Session</td></tr>
      <tr><td>1:10 pm</td> <td><a href="https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python/index.html">Short Introduction to Programming in Python</a></td></tr>
      <tr><td>2:00 pm</td> <td><a href="https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html">Starting With Data</a></td></tr>
      <tr><td>3:00 pm</td> <td><a href="https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html">Indexing, Slicing and Subsetting DataFrames in Python</a></td></tr>
      <tr> <td>4:00 pm</td> <td>End of Day 3</td> </tr>

    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 - Wednesday, September 1</h3>
    <h4>Data Analysis and Visualization with Python</h4>
    <table class="table table-striped">
      <tr><td>1:00 pm ET</td> <td>Previous Day Review and Question Session</td></tr>
      <tr><td>1:10 pm</td> <td><a href="https://datacarpentry.org/python-ecology-lesson/05-merging-data/index.html">Combining DataFrames with Pandas</a></td></tr>
      <tr><td>3:00 pm</td> <td><a href="https://datacarpentry.org/python-ecology-lesson/07-visualization-ggplot-python/index.html">Making Plots With <code>plotnine</code></a></td></tr>
      <tr><td>3:50 pm</td> <td>Workshop wrap-up</td></tr>
      <tr> <td>4:00 pm</td> <td>End of Day 4</td> </tr>

    </table>
  </div>
</div>
